
    body{
        background-repeat: no repeat;
        background-size: cover;
        text-align: center;
    }

.container{
    display: flex;
    justify-content: center;
}
form {
    text-align: left;
    border-radius:15px;
    padding:22px;
    width: 80%;
    margin-left: 25%;
}
